body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.App {
  text-align: center;
  padding:1rem;
}

#header-banner{
  background-image: url('./Pokemon-Header.jpg');
  padding:1rem;
  background-image: 100vw;
  height: 250px;
  background-size: cover;
}



#pokemon-select{
  padding:1rem;
}

#pokemon-detail{
  padding:1rem;
}

select{
  text-transform: capitalize;
}